<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WSGuidePageViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE87DFD71BE9ECE6005BC7EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE87DFF01BE9ECE6005BC7EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE87DFFB1BE9ECE6005BC7EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
